.for-react.to-top {
  bottom: 50px !important;
}

.for-react.to-top img {
  margin-top: 0 !important;
}

@media only screen and (max-width: 991px) {

  .for-react.to-top img {
    margin-top: 0 !important;
  }

  .for-react.to-top {
    bottom: 50px !important;
  }
}