.dialog-area a{
    color: #ffffff !important;
    text-decoration: underline;
}
.dialog-area a:hover{
    color: #D0B185 !important;
    text-decoration: none;
}
.scroll-max{
    max-height: calc(100vh - 280px);
}

@media screen and (max-width: 468px){
    .scroll-max{
        max-height: calc(100vh - 250px);
    }
    
}